# Configuration MongoDB pour Render/Cloud
# Remplacez <db_username>, <db_password> et le reste par vos vraies informations
MONGO_URI=mongodb+srv://<db_username>:<db_password>@cluster0.srbxv06.mongodb.net/chillers?retryWrites=true&w=majority&appName=Cluster0

# Configuration SMTP pour les notifications
EMAIL_USER=djeutchouruxel@gmail.com
EMAIL_PASS=votre_mot_de_passe_application_google
